h2{
    cursor: pointer;
    color: inherit;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 800;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    color:#7d7d7d;
    
}